.keyboard {
  display: flex;
  justify-content: center;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #c200fbff;
  color: #fffbdbff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.key-char {
  font-size: 18px;
}

.key.btn--disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}
