/* CSS HEX
 palette:
--electric-purple: #c200fbff;
--periwinkle: #ccd5ffff;
--light-yellow: #fffbdbff;
--penn-blue: #0a1045ff;
--tangelo: #fb5012ff;
*/

body{
  margin: 0 0;
  padding: 0 0;
}
.mistakes-count {
  font-size: 50%;
  text-align: center;
  color: #FFFBDB;
}
svg {
  /* Omitting overflow-clip-margin and overflow properties which allow entire svg to be displayed properly */
  overflow-clip-margin: initial;
  overflow: initial;
  height: 150%;
  width: 150%;
  margin-bottom: 53%;
  padding-left: 15%;
  margin-top: -20%;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 170%;
  height: min-content;
  margin-top: -20%;
}
h1 {
  font-size: 50px;
}

.he {
  flex-grow: 1;
}

.info {
  margin-left: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  header {
    display: contents;
  }
}
